<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <style>
    .message-input, .message-input .inline-label, .menu-bar {margin-bottom: 0;}
    #sidebar, .messages {border-right: 1px solid #eee;}
    .message-side-bar {border-left: 1px solid #eee;}
    .avatar-section {border-top: 1px solid #eee;}
  </style>

  <body>
      <%= yield %>
  </body>
</html>
